.salao {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 80px 0;
}

.salao h2 {
    color: #C1A51E;
    font-size: 46px;
    font-weight: 600;
    margin-top: 80px;
}

.salao p {
    color: #887416;
    font-size: 18px;
    line-height: 1.3;
}

.salao .uppercase{
    text-transform: uppercase;
}

.boxAdress {
    display: flex;
    width: 100%;
    justify-content: center;
}

.info {
    width: 50%;
}

.info span {
    color:  #887416;
    font-size: 18px;
    font-weight: bold;
}

.info a {
    text-transform: uppercase;
    color:  #C1A51E!important;
    font-size: 32px!important;
    font-weight: 400;
    margin-top: 60px!important;
    text-decoration: underline!important;
}

.salaoImg {
    width: 40%;
    margin-right: 10%;
}

.salao a {
    font-size: 27px;
    display: flex;
    align-items: center;
    margin-top: 120px;
    text-decoration: none;
    color: inherit;
}

.salao a img {
    margin-right: 22px;
}

@media(max-width: 992px){
    .salao {
        padding: 0 15px 38px;
        max-width: 290px;
    }

    .salaoImg {
        width: 100%;
        margin: 0;
    }

    .info {
        width: 100%;
        margin-top: 60px;
    }

    .salao h2 {
        text-align: center;
        margin: 40px 0;
    }

    .salao a {
        margin-top: 38px;
    }

    .salao a img {
        margin-right: 15px;
        max-width: 31px;
    }

    .boxAdress {
        flex-direction: column;
    }
}