.containerRating {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.rating {
    padding-top: 40px;
}

.rating h2 {
 color: #fff;
 text-align: center;   
 padding: 0;
 margin-bottom: 0;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.css-1vooibu-MuiSvgIcon-root {
    color: #2f2610;
}

.boxClient {
    display: flex;
    padding: 5%;
    align-items: center;
    flex-direction: column;
}

.boxClient p {
    color: #fff;
    text-align: start;
    text-align: center;
}

.containerBlackground {
    background-color: #4D4A50;
    margin: 80px 0;
}


.nameStyle {
    color: #faaf00 !important;
    white-space: nowrap;
}

.commentStyle {
    line-height: 24px;
    padding-left: 28px;
    margin-top: 20px;
}