.MiniBanners {
    max-width: 1250px;
    margin: 80px auto 80px;
    width: 100%;
    min-height: 450px;
    text-align: center;
}

.MiniBanners p {
    margin-bottom: 64px;
}

.MiniBanners img {
    max-width: 300px;
    width: 300px;
    height: 350px;
}

/*mobile */
@media(max-width: 992px) {
   
}

