.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  color: #C1A51E;
  font-size: 46px;
  font-family: 'Alice', serif;
}

p {
  font-size: 18px;
  color: #887416;
  line-height: 32px;
  letter-spacing: 0.05em;
  margin: 18px auto 0;
  max-width: 1150px;
}

em {
  font-weight: bold;
}

.basico {
  background: url('../src/images/volume-basico.jpeg') no-repeat;
  background-size: cover;
}

.intermediario {
  background: url('../src/images/volume-intermediario.jpeg') no-repeat;
  background-size: cover;
}

.mega {
  background: url('../src/images/volume-mega.jpeg') no-repeat;
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
}