@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2 {
  color: #C1A51E;
  font-size: 46px;
  font-family: 'Roboto', sans-serif!important;
}

p {
  font-size: 18px;
  color: #887416;
  line-height: 32px;
  letter-spacing: 0.05em;
  margin: 18px auto 0;
  font-family: 'Roboto', sans-serif!important;
  max-width: 1150px;
}

a,
li,
span {
  font-family: 'Roboto', sans-serif!important;
}

em {
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 992px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

.swiper-initialized.swiper-horizontal{
  padding-bottom: 30px;
}

.swiper-pagination{
  bottom: -4px!important;
}