.tipoTecnicas {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.tipoTecnicas img {
    width: 400px;
    height: 400px;
}

.tipoTecnicas .slider {
    max-width: 400px;
    margin: 0 auto;
}

.tipoTecnicas h5,
.tipoTecnicas p {
    font-family: 'Alice', serif;
    color: #887416;
    font-size: 18px;
}

.tipoTecnicas h5 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.tipoTecnicas p {
    margin: 12px 0;
    line-height: 32px;
    letter-spacing: 0.05em;
}

.imgTipos {
    height: 400px;
    width: 400px;
    display: block;
}

@media(max-width: 992px){
    .tipoTecnicas p {
        padding: 38px 15px;
    }

    .tipoTecnicas img {
        width: 290px;
        height: 290px;
    }

    .tipoTecnicas .slider {
        max-width: unset;
    }
}